# Python cache files
__pycache__/
*.py[cod]
*$py.class

.venv

/Frontend/node_modules
/Frontend/dist

.env.local

database.sqlite

Backend/venv
Backend/venvs
models/*

.DS_Store

*.tsbuildinfo

Collections/*

FileCollections

.dev.secret

VectorStores/*
Frontend/chroma_db/chroma.sqlite3

monitor_resources.ps1

Frontend/models/*
Backend/models/*
test_curl.txt