.venv

/Frontend/node_modules
/Frontend/dist



.env.local

database.sqlite

Backend/__pycache__
Backend/.pytest_cache
Backend/venv
models/*

.DS_Store

*.tsbuildinfo

Collections/*

FileCollections

.dev.secret

VectorStores/*
Frontend/chroma_db/chroma.sqlite3
Backend/src/vectorstorage/__pycache__/embeddings.cpython-310.pyc
Backend/src/vectorstorage/__pycache__/vectorstore.cpython-310.pyc
Backend/src/vectorstorage/helpers/__pycache__/sanitizeCollectionName.cpython-310.pyc
Backend/src/endpoint/__pycache__/models.cpython-310.pyc
Backend/src/dataIntake/__pycache__/textSplitting.cpython-310.pyc
Backend/src/endpoint/__pycache__/models.cpython-310.pyc
Backend/src/vectorstorage/__pycache__/query.cpython-310.pyc
Backend/src/dataIntake/fileTypes/__pycache__/loadX.cpython-310.pyc
Backend/src/endpoint/__pycache__/models.cpython-310.pyc
Backend/src/dataIntake/__pycache__/loadFile.cpython-310.pyc
Backend/src/dataIntake/fileTypes/__pycache__/loadX.cpython-310.pyc
.DS_Store
Backend/src/dataFetch/__pycache__/youtube.cpython-310.pyc
Backend/src/dataFetch/__pycache__/youtube.cpython-311.pyc
Backend/src/voice/__pycache__/voice_to_text.cpython-310.pyc
Backend/src/authentication/__pycache__/token.cpython-310.pyc
Backend/.DS_Store
Backend/.DS_Store
Backend/src/dataIntake/__pycache__/csvFallbackSplitting.cpython-310.pyc
Backend/src/.DS_Store
Backend/.DS_Store
Backend/src/dataFetch/__pycache__/webcrawl.cpython-310.pyc
Frontend/scraping_progress.txt
Backend/src/dataFetch/__pycache__/webcrawler.cpython-310.pyc
Backend/src/dataIntake/__pycache__/getHtmlFiles.cpython-310.pyc
Backend/src/endpoint/__pycache__/webcrawl.cpython-310.pyc
Backend/src/endpoint/__pycache__/transcribe.cpython-310.pyc
Backend/src/endpoint/__pycache__/query.cpython-310.pyc
Backend/src/endpoint/__pycache__/embed.cpython-310.pyc
Backend/src/endpoint/__pycache__/deleteStore.cpython-310.pyc
Backend/src/authentication/__pycache__/api_key_authorization.cpython-310.pyc
Backend/src/database/__pycache__/db.cpython-310.pyc
Backend/src/endpoint/__pycache__/apiQuery.cpython-310.pyc
Backend/src/endpoint/__pycache__/vectorQuery.cpython-310.pyc
Backend/src/database/__pycache__/checkAPIKey.cpython-310.pyc
Backend/src/database/__pycache__/getLLMApiKey.cpython-310.pyc
Backend/src/endpoint/__pycache__/llmQuery.cpython-310.pyc
Backend/src/endpoint/__pycache__/ragQuery.cpython-310.pyc
Backend/src/database/__pycache__/getCollectionInfo.cpython-310.pyc
Backend/src/endpoint/testcutrl
Backend/src/endpoint/__pycache__/devApiCall.cpython-310.pyc
Backend/src/data/database/__pycache__/checkAPIKey.cpython-310.pyc
Backend/src/data/database/__pycache__/getCollectionInfo.cpython-310.pyc
Backend/src/data/database/__pycache__/getLLMApiKey.cpython-310.pyc
Backend/src/data/dataFetch/__pycache__/webcrawler.cpython-310.pyc
Backend/src/data/dataFetch/__pycache__/youtube.cpython-310.pyc
Backend/src/data/database/__pycache__/db.cpython-310.pyc
Backend/src/data/dataIntake/__pycache__/getHtmlFiles.cpython-310.pyc
Backend/src/data/dataIntake/__pycache__/loadFile.cpython-310.pyc
Backend/src/data/dataIntake/__pycache__/textSplitting.cpython-310.pyc
Backend/src/data/dataIntake/fileTypes/__pycache__/loadX.cpython-310.pyc
Backend/src/llms/__pycache__/llmQuery.cpython-310.pyc
Backend/src/llms/providers/__pycache__/ollama.cpython-310.pyc
Backend/src/llms/providers/__pycache__/ooba.cpython-310.pyc
Backend/src/llms/providers/__pycache__/openai.cpython-310.pyc
Backend/src/llms/messages/__pycache__/formMessages.cpython-310.pyc
Backend/tests/test_curl.txt
Backend/src/models/__pycache__/model_loader.cpython-310.pyc
Backend/src/endpoint/__pycache__/api.cpython-310.pyc
Frontend/models/TheBloke/deepseek-coder-6.7B-base-GGUF/deepseek-coder-6.7b-base.Q4_K_M.gguf
Backend/src/models/__pycache__/__init__.cpython-310.pyc
Backend/src/models/__pycache__/exceptions.cpython-310.pyc
Backend/src/models/__pycache__/manager.cpython-310.pyc
Backend/src/models/scrratch
Backend/src/models/loaders/__pycache__/__init__.cpython-310.pyc
Backend/src/models/loaders/__pycache__/base.cpython-310.pyc
Backend/src/models/loaders/__pycache__/exllama.cpython-310.pyc
Backend/src/models/loaders/__pycache__/hqq.cpython-310.pyc
Backend/src/models/loaders/__pycache__/llamaccphf.cpython-310.pyc
Backend/src/models/loaders/__pycache__/llamacpp.cpython-310.pyc
Backend/src/models/loaders/__pycache__/tensorrt.cpython-310.pyc
Backend/src/models/loaders/__pycache__/transformers.cpython-310.pyc
Backend/src/models/types/__pycache__/model_types.cpython-310.pyc
Backend/src/models/types/__pycache__/__init__.cpython-310.pyc
Backend/src/models/utils/__pycache__/__init__.cpython-310.pyc
Backend/src/models/utils/__pycache__/detect_type.cpython-310.pyc
Backend/src/models/utils/__pycache__/device.cpython-310.pyc
Backend/src/models/utils/__pycache__/platform.cpython-310.pyc


Frontend/models/microsoft/phi-2/added_tokens.json
Frontend/models/microsoft/phi-2/config.json
Frontend/models/microsoft/phi-2/generation_config.json
Frontend/models/microsoft/phi-2/merges.txt
Frontend/models/microsoft/phi-2/model-00001-of-00002.safetensors
Frontend/models/microsoft/phi-2/model-00002-of-00002.safetensors
Frontend/models/microsoft/phi-2/model.safetensors.index.json
Frontend/models/microsoft/phi-2/special_tokens_map.json
Frontend/models/microsoft/phi-2/tokenizer_config.json
Frontend/models/microsoft/phi-2/tokenizer.json
Frontend/models/microsoft/phi-2/vocab.json
Frontend/models/TheBloke/deepseek-coder-6.7b-base.Q4_K_M.gguf
Frontend/models/TheBloke/tinyllama-1.1b-chat-v1.0.Q4_K_M.gguf
Frontend/models/TheBloke/Tinyllama-2-1b-miniguanaco-GGUF/tinyllama-2-1b-miniguanaco.Q2_K.gguf
Frontend/models/TheBloke/Tinyllama-2-1b-miniguanaco-GGUF/tinyllama-2-1b-miniguanaco.Q3_K_L.gguf
Frontend/models/TheBloke/Tinyllama-2-1b-miniguanaco-GGUF/tinyllama-2-1b-miniguanaco.Q3_K_M.gguf
Frontend/models/TheBloke/Tinyllama-2-1b-miniguanaco-GGUF/tinyllama-2-1b-miniguanaco.Q3_K_S.gguf
Frontend/models/TheBloke/Tinyllama-2-1b-miniguanaco-GGUF/tinyllama-2-1b-miniguanaco.Q4_0.gguf
Frontend/models/TheBloke/Tinyllama-2-1b-miniguanaco-GGUF/tinyllama-2-1b-miniguanaco.Q4_K_M.gguf
Frontend/models/TheBloke/Tinyllama-2-1b-miniguanaco-GGUF/tinyllama-2-1b-miniguanaco.Q4_K_S.gguf
Frontend/models/TheBloke/Tinyllama-2-1b-miniguanaco-GGUF/tinyllama-2-1b-miniguanaco.Q5_0.gguf
Frontend/models/TheBloke/Tinyllama-2-1b-miniguanaco-GGUF/tinyllama-2-1b-miniguanaco.Q5_K_M.gguf
Frontend/models/TheBloke/Tinyllama-2-1b-miniguanaco-GGUF/tinyllama-2-1b-miniguanaco.Q5_K_S.gguf
Frontend/models/TheBloke/Tinyllama-2-1b-miniguanaco-GGUF/tinyllama-2-1b-miniguanaco.Q6_K.gguf
Frontend/models/TheBloke/Tinyllama-2-1b-miniguanaco-GGUF/tinyllama-2-1b-miniguanaco.Q8_0.gguf
Frontend/models/TheBloke/Mistral-7B-v0.1-GGUF/mistral-7b-v0.1.Q2_K.gguf
Frontend/models/TheBloke/Mistral-7B-v0.1-GGUF/mistral-7b-v0.1.Q3_K_L.gguf
Frontend/models/TheBloke/Mistral-7B-v0.1-GGUF/mistral-7b-v0.1.Q3_K_M.gguf
Frontend/models/TheBloke/Mistral-7B-v0.1-GGUF/.gitattributes
Frontend/models/TheBloke/Mistral-7B-v0.1-GGUF/config.json
Frontend/models/TheBloke/Mistral-7B-v0.1-GGUF/README.md
Frontend/models/TheBloke/Tinyllama-2-1b-miniguanaco-GGUF/.gitattributes
Frontend/models/TheBloke/Tinyllama-2-1b-miniguanaco-GGUF/config.json
Frontend/models/TheBloke/Tinyllama-2-1b-miniguanaco-GGUF/README.md
Frontend/models/TheBloke/TinyLlama-1.1B-Chat-v1.0-GGUF/.gitattributes
Frontend/models/TheBloke/TinyLlama-1.1B-Chat-v1.0-GGUF/config.json
Frontend/models/TheBloke/TinyLlama-1.1B-Chat-v1.0-GGUF/README.md
Frontend/models/TheBloke/TinyLlama-1.1B-Chat-v1.0-GGUF/tinyllama-1.1b-chat-v1.0.Q2_K.gguf
Frontend/models/TheBloke/TinyLlama-1.1B-Chat-v1.0-GGUF/tinyllama-1.1b-chat-v1.0.Q3_K_L.gguf
Frontend/models/TheBloke/TinyLlama-1.1B-Chat-v1.0-GGUF/tinyllama-1.1b-chat-v1.0.Q3_K_M.gguf
Frontend/models/TheBloke/TinyLlama-1.1B-Chat-v1.0-GGUF/tinyllama-1.1b-chat-v1.0.Q3_K_S.gguf
Frontend/models/TheBloke/TinyLlama-1.1B-Chat-v1.0-GGUF/tinyllama-1.1b-chat-v1.0.Q4_0.gguf
Frontend/models/TheBloke/TinyLlama-1.1B-Chat-v1.0-GGUF/tinyllama-1.1b-chat-v1.0.Q4_K_M.gguf
Frontend/models/TheBloke/TinyLlama-1.1B-Chat-v1.0-GGUF/tinyllama-1.1b-chat-v1.0.Q4_K_S.gguf
Frontend/models/TheBloke/TinyLlama-1.1B-Chat-v1.0-GGUF/tinyllama-1.1b-chat-v1.0.Q5_0.gguf
Frontend/models/TheBloke/TinyLlama-1.1B-Chat-v1.0-GGUF/tinyllama-1.1b-chat-v1.0.Q5_K_M.gguf
Frontend/models/TheBloke/TinyLlama-1.1B-Chat-v1.0-GGUF/tinyllama-1.1b-chat-v1.0.Q5_K_S.gguf
Frontend/models/TheBloke/TinyLlama-1.1B-Chat-v1.0-GGUF/tinyllama-1.1b-chat-v1.0.Q6_K.gguf
Frontend/models/TheBloke/TinyLlama-1.1B-Chat-v1.0-GGUF/tinyllama-1.1b-chat-v1.0.Q8_0.gguf
Backend/src/models/__pycache__/streamer.cpython-310.pyc
Frontend/models/TheBloke/deepseek-coder-6.7b-base.Q8_0.gguf
monitor_resources.ps1
Frontend/models/brgx53/3Blarenegv3-ECE-PRYMMAL-Martial/.gitattributes
Frontend/models/brgx53/3Blarenegv3-ECE-PRYMMAL-Martial/added_tokens.json
Frontend/models/brgx53/3Blarenegv3-ECE-PRYMMAL-Martial/config.json
Frontend/models/brgx53/3Blarenegv3-ECE-PRYMMAL-Martial/mergekit_config.yml
Frontend/models/brgx53/3Blarenegv3-ECE-PRYMMAL-Martial/merges.txt
Frontend/models/brgx53/3Blarenegv3-ECE-PRYMMAL-Martial/model-00001-of-00004.safetensors
Frontend/models/brgx53/3Blarenegv3-ECE-PRYMMAL-Martial/README.md
Frontend/models/brgx53/3Blarenegv3-ECE-PRYMMAL-Martial/model-00002-of-00004.safetensors
Frontend/models/brgx53/3Blarenegv3-ECE-PRYMMAL-Martial/model-00003-of-00004.safetensors
Frontend/models/brgx53/3Blarenegv3-ECE-PRYMMAL-Martial/model-00004-of-00004.safetensors
Frontend/models/brgx53/3Blarenegv3-ECE-PRYMMAL-Martial/model.safetensors.index.json
Frontend/models/brgx53/3Blarenegv3-ECE-PRYMMAL-Martial/special_tokens_map.json
Frontend/models/brgx53/3Blarenegv3-ECE-PRYMMAL-Martial/tokenizer_config.json
Frontend/models/brgx53/3Blarenegv3-ECE-PRYMMAL-Martial/tokenizer.json
Frontend/models/brgx53/3Blarenegv3-ECE-PRYMMAL-Martial/vocab.json
Frontend/models/LGAI-EXAONE/EXAONE-3.5-2.4B-Instruct/.gitattributes
Frontend/models/LGAI-EXAONE/EXAONE-3.5-2.4B-Instruct/config.json
Frontend/models/LGAI-EXAONE/EXAONE-3.5-2.4B-Instruct/configuration_exaone.py
Frontend/models/LGAI-EXAONE/EXAONE-3.5-2.4B-Instruct/generation_config.json
Frontend/models/LGAI-EXAONE/EXAONE-3.5-2.4B-Instruct/LICENSE
Frontend/models/LGAI-EXAONE/EXAONE-3.5-2.4B-Instruct/merges.txt
Frontend/models/LGAI-EXAONE/EXAONE-3.5-2.4B-Instruct/model-00001-of-00002.safetensors
Frontend/models/LGAI-EXAONE/EXAONE-3.5-2.4B-Instruct/README.md
Frontend/models/LGAI-EXAONE/EXAONE-3.5-2.4B-Instruct/special_tokens_map.json
Frontend/models/LGAI-EXAONE/EXAONE-3.5-2.4B-Instruct/tokenizer_config.json
Frontend/models/LGAI-EXAONE/EXAONE-3.5-2.4B-Instruct/tokenizer.json
Frontend/models/LGAI-EXAONE/EXAONE-3.5-2.4B-Instruct/vocab.json
Frontend/models/temp_ollama/sha256-5ff0abeeac1d2dbdd5455c0b49ba3b29a9ce3c1fb181b2eef2e948689d55d046.gguf
Frontend/models/temp_ollama/sha256-6a0746a1ec1aef3e7ec53868f220ff6e389f6f8ef87a01d77c96807de94ca2aa.gguf
Frontend/models/temp_ollama/sha256-46bb65206e0e2b00424f33985a5281bd21070617ebcfda9be86eb17e6e00f793.gguf
Frontend/models/temp_ollama/sha256-77e33add45af178c23e684db7ce40a9473c740af55e3d67a7dcb1571dd127f07.gguf
Frontend/models/temp_ollama/sha256-262cb33f4662fe1ac765780e69238bf31eaaa92a3eccc0becf776c5605effb26.gguf
Frontend/models/temp_ollama/sha256-8934d96d3f08982e95922b2b7a2c626a1fe873d7c3b06e8e56d7bc0a1fef9246.gguf
Frontend/models/temp_ollama/sha256-b559938ab7a0392fc9ea9675b82280f2a15669ec3e0e0fc491c9cb0a7681cf94.gguf
Frontend/models/temp_ollama/sha256-d98bc0df90da13e2e8325d0ed0b0d3b0189f36a5cb8a2036c4555f068bc46326.gguf
Frontend/models/temp_ollama/sha256-dde5aa3fc5ffc17176b5e8bdc82f587b24b2678c6c66101bf7da77af9f7ccdff.gguf
Frontend/models/temp_ollama/sha256-ff82381e2bea77d91c1b824c7afb83f6fb73e9f7de9dda631bcdbca564aa5435.gguf
